{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
{% load static %}

<style>
    *{
        scroll-behavior: smooth;
    }
    .is-red{
        background-color: #ff3b3b;
        opacity: 0.9;
        color: #f4f4f4;
    }
    .is-red:hover{
        background-color: #ff3b3b;
        opacity: 1;
        color: #f4f4f4;
    }
    .is-red-{
        background-color: #ff3b3b;
        opacity: 0.9;
        color: #f4f4f4;
    }
    .is-red-:hover{
        background-color: #ff3b3b;
        opacity: 1;
        color: #f4f4f4;
    }
    @media screen and (max-width: 768px){
        div.columns.is-variable.is-centered#container-{
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column-reverse;
            }

        .button.is-red{
            font-size: 1rem;
        }
    }
    #menu{
        transform: translateX(100%);
    }
    #menu.active{
        transition: translateX(0%);
    }

</style>

    <section>
        <div class="container">
            <h1 class="title is-1 has-text-centered"> Welcome <span style="color: #ff3b3b;">{{ request.user }}</span>  </h1>
            <hr>
            <h5 class="title is-5 has-text-centered">Some of the URLs shorten by you are listed below</h5>
        
            <table class="table has-text-centered">
                <thead>
                  <tr>
                    <th><abbr title="Position">S No.</abbr></th>
                    <th>URL</th>
                  </tr>
                </thead>
                
                <tbody>
                    {% for url in all_urls %}
                  <tr>
                    <th> {{ forloop.counter }} </th>
                    <td>  <a href="//{{ url.short_url }}" target="_blank"> {{ url.short_url }}</a> </td>
                    </tr>
                    {% endfor %}
                </tbody>


              </table> 
        </div>
    </section>


{% endblock body %}